:root {
  --prim-clr: rgb(10, 10, 10);
  --sec-clr: white;
  --accent-clr: rgb(167, 167, 167);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  color: var(--sec-clr);
}
p,
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.page {
  /* padding: 2rem; */
  min-height: 100vh;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  height: 100vh;
  width: 100%;
  background: url(./images/blackBackground.jpg) repeat;
  background-size: cover;
  background-position: bottom;
  background-color: black;
  display: flex;
  flex-direction: row;
}
.head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-content .writeup {
  margin-right: 4rem;
  font-weight: 100;
  color: var(--sec-clr);
}
.writeup h1 {
  font-size: 6rem;
  color: var(--accent-clr);
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 900;
}
/* nav {
  padding-inline: 1.5rem;
} */
.nav-item {
  padding: 0.5rem;
}
.bio {
  z-index: 2;
  width: 50%;
  margin-right: 3rem;
}
.bio-img {
  position: relative;
  transition: all 0.8s ease;
}

.bio-img img {
  box-shadow: 15px 15px 0px var(--accent-clr);
  width: 370px;
}
.bio h4,
.tour-img-box h4 {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.bio p {
  font-size: 0.8rem;
  text-align: justify;
}
#tour {
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  background: whitesmoke;
  padding-top: 3rem;
}
#tour .card {
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--prim-clr);
}
.page-heading {
  display: inline;
  position: absolute;
  top: 0%;
  text-align: center;
  font-size: 10rem;
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--accent-clr);
  letter-spacing: 0.5rem;
}
#music {
  padding-top: 7rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  background-color: rgb(107, 107, 107);
}

.album {
  flex-basis: 350px;
  box-shadow: 0 0 15px black;
  border-radius: 5px;
  z-index: 2;
  padding: 1rem;
  margin: 0.8rem;
  background: rgba(255, 255, 255, 0.459);
  width: 30%;
  margin-inline: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.album img {
  max-width: 100%;
  margin-block: 2rem;
}
.album a {
  text-decoration: none;
  letter-spacing: 0.4rem;
  color: black;
}
#contact {
  padding-top: 0;
  display: flex;
  background-color: rgb(63, 63, 63);
  flex-direction: column;
}
#contact h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: white;
}
#contact form {
  margin-top: 0;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
form input,
textarea {
  width: 100%;
  border: 1px solid rgb(63, 63, 63);
  border-block: 15px solid rgb(63, 63, 63);
  padding: 0.4rem;
}
textarea {
  height: 180px;
  margin-top: 2rem;
}
#contact button,
.learn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.6rem 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
  transition: all 0.3s ease;
}
#contact button:hover,
.learn:hover,
.learn:hover a {
  background: white;
  color: rgb(63, 63, 63);
}
.learn a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 870px) {
  #home {
    min-width: 100%;
    padding-bottom: 1rem;
  }
  #about,
  #music,
  #tour,
  #contact {
    padding-top: 6rem;
    padding-bottom: 3rem;
    flex-direction: column;
  }
  #about div,
  #music div,
  #contact div {
    margin-block: 1rem;
    justify-content: center;
    margin-inline: 5px;
    padding-inline: 5px;
    width: 85%;
  }
  .bio-img {
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
  }
  .page-heading {
    top: 1%;
    font-size: 5rem;
  }
  .head-content {
    min-width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .writeup {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
  }
  .writeup h1 {
    font-size: calc(1rem + 10vw);
    text-align: center;
  }
  .bio p {
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-weight: light;
  }
  .bio-img {
    width: 80%;
  }
}
